@page
@model VaccineCredentialsIssuer.Pages.VaccinationDataCredentialsModel
@{
}

<h3>@Model.VaccinationDataMessage</h3>
<br />
<br />

@if (Model.HasVaccinationData)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="qr" id="qrCode"></div>
            </div>
            <div class="col-sm">
                <div>
                    <img src="~/pexels-artem-podrez-5878503.jpg" width="200" alt="Vaccination Data">
                    <div>
                        <b>Vaccination Data: @Html.DisplayFor(model => model.VaccinationData.FamilyName)</b>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">Family Name</dt>
                            <dd class="col-sm-8">
                                @Model.VaccinationData.FamilyName
                            </dd>
                            <dt class="col-sm-4">Given Name</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.VaccinationData.GivenName)
                            </dd>
                            <dt class="col-sm-4">Date of Birth</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.VaccinationData.DateOfBirth)
                            </dd>
                            <dt class="col-sm-4">Medicinal Product Code</dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.VaccinationData.MedicinalProductCode)
                            </dd>
                            <dt class="col-sm-4">Number of Doses</dt>
                            <dd class="col-sm-8">
                                @Model.VaccinationData.NumberOfDoses
                            </dd>
                            <dt class="col-sm-4">Total Number of Doses</dt>
                            <dd class="col-sm-8">
                                @Model.VaccinationData.TotalNumberOfDoses
                            </dd>
                            <dt class="col-sm-4">Vaccination Date</dt>
                            <dd class="col-sm-8">
                                @Model.VaccinationData.VaccinationDate
                            </dd>
                            <dt class="col-sm-4">Country of Vaccination</dt>
                            <dd class="col-sm-8">
                                @Model.VaccinationData.CountryOfVaccination
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.CredentialOfferUrl)",
                width: 300,
                height: 300
            });

    $(document).ready(() => {
    });

    </script>
}
